In [2]:
import numpy as np
import pandas as pd

In [5]:
checkins_data = pd.read_csv("data/checkin_checkout_history_updated.csv")
checkins_data.shape

(300000, 6)

In [4]:
checkins_data.head()

,user_id,gym_id,checkin_time,checkout_time,workout_type,calories_burned
0,user_3291,gym_6,2023-09-10 15:55:00,2023-09-10 16:34:00,Weightlifting,462
1,user_1944,gym_2,2023-04-13 20:07:00,2023-04-13 22:43:00,Yoga,1278
2,user_958,gym_7,2023-06-10 12:24:00,2023-06-10 13:49:00,Cardio,858
3,user_811,gym_2,2023-05-23 17:11:00,2023-05-23 20:01:00,Yoga,1134
4,user_4923,gym_10,2023-02-21 06:20:00,2023-02-21 08:02:00,Weightlifting,1049

In [6]:
checkins_data['user_id'].nunique()

5000

In [7]:
checkins_data.isnull().sum()

user_id            0
gym_id             0
checkin_time       0
checkout_time      0
workout_type       0
calories_burned    0
dtype: int64

In [9]:
user_data = pd.read_csv("data/users_data.csv")

In [10]:
user_data.shape

(5000, 9)

In [11]:
user_data.head()

,user_id,first_name,last_name,age,gender,birthdate,sign_up_date,user_location,subscription_plan
0,user_1,Chris,Wilson,56,Female,2000-02-29,2023-02-06,Denver,Basic
1,user_2,Michael,Miller,46,Non-binary,1978-12-22,2023-08-08,Orlando,Pro
2,user_3,Daniel,Smith,32,Female,1962-08-30,2021-01-11,Orlando,Basic
3,user_4,David,Smith,60,Male,2003-12-05,2023-08-07,Denver,Pro
4,user_5,Chris,Jones,25,Female,2004-08-25,2021-01-08,Denver,Basic